.top-header
p.logo LOVEGIFT
p ログイン
p 新規登録

= image_tag 'top_kasumisou.JPG', class: 'top-image'

p LOVEGIFTは、”おめでとう”と”ありがとう”を記録するサービスです。


p こんな時に。

p もうすぐ母の日だけど、去年は何を贈ったっけ？
p おじいちゃんが米寿のお祝いの年って今年だったっけ？
p お祝いしてもらった嬉しい気持ちをギフトと一緒に残しておきたい。



.top-footer
li 運営者
li 利用規約
li プライバシーポリシー
li お問い合わせ
li ログイン＆新規登録