// $mainColor:#eca5b2;
$mainColor:#67c2c3;
$whiteColor:#fff;
$greenColor:#00bb85;
$lightblueColor:#e4edf7;
$ivoryColor:#f8f4e6;

$backgroundGrayColor:    #f0f0f0;
$fontGrayColor:    #808080;
$topGrayColor:    #f0f0f0;