$pinkColor:#ec6981;
// $mainColor:#3eb5b7;
$mainColor:#14a3b8;
$whiteColor:#ffffff;
$greenColor:#00bb85;
$orangeColor:#E8652B;
$lightblueColor:#e4edf7;
$ivoryColor:#f8f4e6;

$backgroundGrayColor:    #f0f0f0;
$fontGrayColor:    #808080;
$topGrayColor:    #f8f6f6;
// $topGrayColor:    #f7f2f2d3;
$footerGrayColor: #d8d2d2;