$pinkColor:#df8a99;
$mainColor:#44a7a8;
// $mainColor:#67c2c3;
$whiteColor:#ffffff;
$greenColor:#00bb85;
$orangeColor:#E8652B;
$lightblueColor:#e4edf7;
$ivoryColor:#f8f4e6;

$backgroundGrayColor:    #f0f0f0;
$fontGrayColor:    #808080;
$topGrayColor:    #f7f2f2d3;
$footerGrayColor: #d8d2d2;