/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "./variables";

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin:0;
  padding:0;
}

// font-size
html{
  font-size: 62.5%;
}
body{
  font-size:1.6rem;/* 16px*/
  line-height: 2;
}
h1 {
  font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));/* 24px~36pxで可変*/
  line-height: 1.3;
}
h2 {
  font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));/* 20px~24pxで可変*/
  line-height: 1.3;
}

@media (min-width: 1200px) {/* 1200px以上*/
  h1 {
      font-size: 3.2rem;/* 32px*/
  }
  h2 {
      font-size: 2.4rem;/* 24px*/
  }
  p {
    font-size: 1.2rem;/* 12px*/
  }
}
@media screen and (max-width: 640px) {/* 640px以下*/
  body{
  line-height: 2;
  }
  h1{
      font-size: 2.4rem;/* 24px*/
  }
  h2 {
      font-size: 2rem;/* 20px*/
  }
  p {
    font-size: 1.2rem;/* 12px*/
  }
  .header{
    display: none;
  }
}

//ナビゲーション
@media screen and (max-width: 640px) {
  .header{
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .mobile_header{
    display: none;
  }
}

.wrapper{ //width 400px以下の時に余白ができてしまうため
    overflow: hidden;
}


@mixin input-style($backgroundColor){
    border-radius:50px;
    width:100%;
    border:none;
    padding:0 15px;
    height: 2.5em;
    background-color:$backgroundColor;
    &:focus {
  outline: none;
}
}

.submit-button{
    @include input-style($mainColor);
    color: $whiteColor;
    cursor: pointer;
  }

//birthday input
.form-control{
  color: $mainColor;
  font-size: 1.6rem;
  height: 2.5em;
  border:none;
  padding:5px 10px;
  border-radius:5px;
  background-color: $backgroundGrayColor;
  display: inline-block;
  width: auto;
  }