// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables";

.toptop{
    font-size: 100px;
    background-color: $mainColor;
    text-align: center;
    color:#ffffff;
}