// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables";

.top{
    background-color: $topGrayColor;
}
.top-image{
    text-align: center;
}

.top-main-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.8;
}

@media screen and (max-width: 640px) {/* 640px以下*/
    .top-main-image{
        height: 200px;
    }
  }

@media (min-width: 1200px) {/* 1200px以上*/
    .top-main-image{
        height: 450px;
    }
  }

.top-contents{
    text-align: center;
    .main-message{
        padding-top:70px;
        margin-bottom:120px;
        font-size: 1.4rem;
        color:$fontGrayColor;
        letter-spacing: 0.155em;
          }

    span{
        font-size: 1.6rem;
        color: $pinkColor;
        font-weight: bold;
    }
}
@media screen and (max-width: 640px) {/* 640px以下*/
    .top-contents{
        .main-message{
            padding-top:40px;
            margin-bottom:35px;
            font-size: 1.2rem;
            letter-spacing: 0.145em;
              }

        span{
            font-size: 1.5rem;
        }
    }
    }
@media (min-width: 1200px) {/* 1200px以上*/
    .top-contents{
        .main-message{
            padding-top:80px;
            margin-bottom:120px;
            font-size: 1.8rem;
            letter-spacing: 0.155em;
              }

        span{
            font-size: 2.0rem;
        }
    }
}


.image-message-right{
    text-align: right;
    position: relative;
}

.image-message-left{
    text-align: left;
    position: relative;
}
.message1{
    position: absolute;
    text-align: left;
    top: 25%;
    font-size: 1.6rem;
    line-height: 1.4em;
    color:$mainColor;
    letter-spacing: 0.120em;
    margin-left:10%;
}
.message1-1{
    position: absolute;
    text-align: right;
    left: 15%;
    top: 45%;
    font-size: 1.4rem;
    line-height: 1.4em;
    color:$fontGrayColor;
    letter-spacing: 0.120em;
}
.child-image2{
    width: 35%;
    height: 350px;
    object-fit: cover;
    object-position:50% 20%;
    border-radius: 5px;
    margin-right:10%;
    margin-bottom: 100px;
}

.child-image1{
    width: 35%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: 50px;
    margin-left:5%;
    margin-bottom: 100px;
}

.message2{
    position: absolute;
    text-align: left;
    left:45%;
    top: 20%;
    margin-right: 10%;
    font-size: 1.8rem;
    line-height: 1.4em;
    color:$mainColor;
    letter-spacing: 0.120em;
}
.message2-1{
    position: absolute;
    text-align: left;
    left:45%;
    top: 40%;
    font-size: 1.6rem;
    line-height: 1.4em;
    color:$fontGrayColor;
    letter-spacing: 0.120em;
}

.child-image3{
    width: 35%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.9;
    margin-bottom: 200px;
    margin-right:10%;
}
.message3{
    position: absolute;
    margin-left:10%;
    top: 15%;
    font-size: 1.8rem;
    line-height: 1.4em;
    color:$mainColor;
    letter-spacing: 0.120em;
}
.message3-1{
    position: absolute;
    text-align: right;
    left: 12%;
    top: 40%;
    font-size: 1.6rem;
    line-height: 1.4em;
    color:$fontGrayColor;
    letter-spacing: 0.120em;
}

@media screen and (max-width: 640px) {/* 640px以下*/
    .message1{
        text-align: left;
        left: 10%;
        top: 65%;
        font-size: 1.3rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
    }
    .message1-1{
        text-align: right;
        left: 15%;
        top: 85%;
        font-size: 1rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }
    .child-image2{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position:50% 20%;
        // border-radius: 5px;
        // opacity: 0.6;
        margin-bottom: 200px;
    }

    .child-image1{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 0px;
        opacity: 0.8;
        margin-top: 50px;
        margin-bottom: 250px;
    }

    .message2{
        left: 10%;
        top: 65%;
        font-size: 1.3rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
    }
    .message2-1{
        text-align: right;
        left: 10%;
        top: 80%;
        font-size: 1rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }

    .child-image3{
        width: 100%;
        height: 200px;
        object-fit: cover;
        // border-radius: 5px;
        opacity: 0.9;
        margin-bottom: 200px;
    }
    .message3{
        left: 10%;
        top: 65%;
        font-size: 1.3rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
    }
    .message3-1{
        text-align: right;
        left: 22%;
        top: 80%;
        font-size: 1rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }
}
@media (min-width: 1200px) {/* 1200px以上*/
    .message1{
        text-align: left;
        top: 25%;
        font-size: 1.8rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
        margin-left:15%;
    }
    .message1-1{
        text-align: right;
        left: 15%;
        top: 45%;
        font-size: 1.6rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }
    .child-image2{
        width: 30%;
        height: 20%;
        object-fit: cover;
        border-radius: 5px;
        margin-right:15%;
        margin-bottom: 200px;
    }

    .child-image1{
        width: 45%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        opacity: 0.8;
        margin-top: 50px;
        margin-left:10%;
        margin-bottom: 250px;
    }

    .message2{
        text-align: left;
        left:60%;
        top: 20%;
        margin-right: 10%;
        font-size: 1.8rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
    }
    .message2-1{
        text-align: right;
        left:60%;
        top: 40%;
        font-size: 1.6rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }

    .child-image3{
        width: 45%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        opacity: 0.9;
        margin-bottom: 200px;
        margin-right:10%;
    }
    .message3{
        margin-left:10%;
        top: 15%;
        font-size: 1.8rem;
        line-height: 1.4em;
        color:$mainColor;
        letter-spacing: 0.120em;
    }
    .message3-1{
        text-align: right;
        left: 12%;
        top: 40%;
        font-size: 1.6rem;
        line-height: 1.4em;
        color:$fontGrayColor;
        letter-spacing: 0.120em;
    }
}

.top-footer{
    background-color: $footerGrayColor;
    color:$fontGrayColor;
    font-size: 13px;
    letter-spacing: 0.125em;
}


