@import "./variables";


.user-link_style{
    text-decoration:none !important;
    color: $mainColor;
    font-size: 1.4rem;
    &:hover{
        color:$hoverColor;
    }
  }

.register-page-title{
    text-align:center;
    color: $mainColor;
    margin:80px 0 40px 0;
}
.login-page-title{
    text-align:center;
    color: $mainColor;
    margin:80px 0 60px 0;
}

.reset-pw-page-title{
    text-align:center;
    color: $mainColor;
    margin:80px 0 60px 0;
}

.login-field{
    margin:20px 0;
}

.reset-pw-field{
    margin:40px 0;
}

.reset-info{
    border:1px solid $lightGrayColor;
    border-radius: 12px;
    text-align:center;
    margin:0 auto;
    padding:5px 0;
    p{
        font-size: 1.4rem;
        color:$fontGrayColor;
    }
}
.login_form{
    text-align:center;
    margin:0 auto;
}

.register-form{
    margin:0 auto;
    label{
        color:$mainColor;
        font-size:12px;
        text-align:left;
    }
    p{
        text-align:center; //labelは左寄せ
    }
}


@mixin user-input-style($backgroundColor){
    border-radius:50px;
    width:100%;
    border:none;
    padding:0 15px;
    height: 2.5em;
    background-color:$backgroundColor;
    &:focus {
  outline: none;
}
}

.register-input-form{
    @include user-input-style($backgroundGrayColor);
      &::placeholder{
        color: $placeholder_mainColor;
    }
}

.login-input-form{
    @include user-input-style($backgroundGrayColor);
      &::placeholder{
        color: $placeholder_mainColor;
      }
    }

.login-button{
        @include user-input-style($mainColor);
        color: $whiteColor;
        cursor: pointer;
        margin:10px 0 30px 0;
        transition: background-color 0.5s;
        &:hover {
            background-color: $hoverColor;
            transition: background-color 1s;
          }
    }

.register-button{
        @include user-input-style($mainColor);
        color: $whiteColor;
        cursor: pointer;
        margin:30px 0 30px 0;
        transition: background-color 0.5s;
        &:hover {
            background-color: $hoverColor;
            transition: background-color 1s;
          }    }

.login-button{
        @include user-input-style($mainColor);
        color: $whiteColor;
        cursor: pointer;
        margin:10px 0 30px 0;
        transition: background-color 0.5s;
        &:hover {
            background-color: $hoverColor;
            transition: background-color 1s;
          }
    }

.reset-pw-button{
        @include user-input-style($mainColor);
        color: $whiteColor;
        cursor: pointer;
        margin:20px 0 30px 0;
        transition: background-color 0.5s;
        &:hover {
            background-color: $hoverColor;
            transition: background-color 1s;
          }
    }

.comfirm-infomation{
    border:1px solid $lightGrayColor;
    border-radius: 12px;
    margin:0 auto;
    margin-bottom: 20px;
    padding:5px 0;
    p{
        font-size: 1.2rem;
        text-align:center;
        color:$fontGrayColor;
    }
}