/ <nav class="navbar navbar-default navbar-fixed-bottom">


<nav class="navbar navbar-expand-sm navbar-dark bg-info navbar-default fixed-bottom">
  <a href="#" class="navbar-brand">Bootstrap</a>
  <div class="collapse navbar-collapse justify-content-end" id="navmenu">
    <div class="navbar-nav dropdown">
      <a class="nav-item nav-link dropdown-toggle active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">新規作成</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">基本データ作成</a>
        <a class="dropdown-item" href="#">詳細データ作成</a>
      </div>
      <a class="nav-item nav-link disabled" href="#">編集</a>
      <a class="nav-item nav-link disabled" href="#">一覧表示</a>
    </div>
  </div>
</nav>